<div class="container-fluid">
    <div class="row bg-secondary-subtle">
        <h1>Sign Up</h1>
    </div>
    <div  class="row col-12 col-md-4 m-auto mt-5 p-3">
    <form method="post" action="/api/signup">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Pass Word</label>
             <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password" name="password">
        </div>
       
          <button type="submit" class="btn btn-secondary">Sign Up</button>
    </form>
    </div>
</div>