<div class="container">
    <div class="row bg-secondary-subtle">
        <h1>ADD book</h1>
    </div>
    <div  class="row col-12 col-md-4 m-auto mt-5 p-3">
    <form method="post" action="/api/book">
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Isbn" name="isbn">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name="title">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Author" name="author">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Publisher" name="publisher">
        </div>
          <button type="submit" class="btn btn-secondary">Add book</button>
    </form>
    </div>
</div>